
img{
    padding-top: 25px;
}

body{
    background-color: rgb(209, 124, 64);
}

#About,#Blog{
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer{
    background-color: blue;
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
}

h3{
    text-align: center;
}

*{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-style: normal;
}